

/* <!-- SubPage_ Text eFfects --> */

body {
 background-image: url(../room1/intropage.svg);
 background-size: 200pc;
 height: 300vh;
}

.logo{
  font-size: 20pt;
  position: absolute;
  color:black;
  /* margin-top: 1px; */
  margin-left: 50px;
}

.hidden {
  opacity:0;
}

.console-container {
 
    font-size:5em;
    text-align:center;
    height:200px;
    width:600px;
    display:block;
    position:absolute;
    color:white;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}

.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

/* button */
